<%
   var title = '';
   var posts = site.posts;
   if (page.category) {
   	  title = page.category;
	  posts = page.posts;
   }
   if (page.tag) {
      title = page.tag;
	  posts = page.posts;
   }
   var year, month;
   var last_year = 1970;
   var is_first_year = 1;
   %>
<table style="width:100%">
  <thead>
    <tr>
      <th><i><h5>Displaying <%= page.posts.length %> item(s) related to <%= page.tag %></h5>
        <% for (var link in site.data.description) { %>
          <% if (page.tag == link) { %>
          <%= site.data.description[link] %></i>
          <% } else { %>
          <% } %>
          <% } %>
      </th>
    </tr>
  </thead>
  <tbody>
    <td>
      <% page.posts.sort('title').each(function(item){ %>
      <%- partial('post/title_list', {item: item, index: true}) %>
      <% }); %>
    </td>
  </tbody>
</table>